@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    nelsonvalverdelt@outlook.com<br />
    www.nelsonvalverde.net<br />
    <abbr title="Phone">###</abbr>
    ###
</address>

<address>
    <strong>Ayuda:</strong>   <a href="mailto:nelsonvalverdelt@outlook.com">nelsonvalverdelt@outlook.com</a><br />
</address>