
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

<!DOCTYPE html>
<html>
<head>
    <title>CREAR PERSONA</title>
</head>
<body>
  
    <form>

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" id="nombre" class="form-control" />

        </div>
        <div class="form-group">
            <label>Apellido</label>
            <input type="text" id="apellido" class="form-control" />
        </div>
        <div class="form-group">
            <label>Edad</label>
            <input type="text" id="edad" class="form-control" />
        </div>
        <div class="form-group">
            <label>Estatura</label>
            <input type="text" id="estatura" class="form-control" />
        </div>
        <div class="form-group">
            <label>Sexo</label>
            <input type="text" id="sexo" class="form-control" />
        </div>

        <button type="button" class="btn btn-primary" id="btnRegistrar"> Registrar Persona </button>


    </form>
        

    <div id="resultado"></div>
    @section scripts {

        <script src="~/Scripts/script.js"></script>

    }
</body>



</html>